<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jearomr.weatherapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".splash_page.SplashActivity"
            android:theme="@style/NoActionBarTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".weather_list_page.WeatherListActivity"/>
        <activity android:name=".weather_details_page.WeatherDetailsActivity"
            android:label="@string/weather_details"
            android:parentActivityName=".weather_list_page.WeatherListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".weather_list_page.WeatherListActivity" />
        </activity>

        <service android:name=".location_retriever.LocationRetrieverService"/>
    </application>

</manifest>